*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*.elf
*.map
*.bak
html/
nbproject/private/
nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
funclist
nbproject/Makefile-*
disassembly/

**/nbproject/private
**/nbproject/Makefile-*
**/nbproject/Package-*
**/.mhc_backup
**/*.X/debug
**/*.X/dist
**/*.X/build

*.map
/rejestrator.X/build/default/production/_ext/1360937237/APlib.o
/rejestrator.X/build/default/production/_ext/1360937237/Communication.o
/rejestrator.X/build/default/production/_ext/1360937237/FSIO.o
/rejestrator.X/build/default/production/_ext/1360937237/main.o
/rejestrator.X/build/default/production/_ext/1360937237/SD-SPI.o
/rejestrator.X/build/default/production/_ext/1360937237/Sensors.o
/rejestrator.X/build/default/production/_ext/2016417865/usb_device.o
/rejestrator.X/build/default/production/_ext/2016417865/usb_device_cdc.o
/rejestrator.X/build/default/production/_ext/659870090/app_led_usb_status.o
/rejestrator.X/build/default/production/_ext/659870090/usb_descriptors.o
/rejestrator.X/.generated_files/
/rejestrator.X/build/
*.o
/rejestrator.X/dist/
